Client/Qz.GPS.Web/Service References/SsoService/AuthService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Qz.SSO.Core.Token" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Qz.SSO.Core.Token" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:14959/AuthService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Qz.SSO.Core.Entity" />
  <xs:complexType name="SsoToken">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Qz.SSO.Core.Entity" minOccurs="0" name="User" nillable="true" type="q1:SsoUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SsoToken" nillable="true" type="tns:SsoToken" />
</xs:schema>